

.header-1 {
  
}

.header {
    
    
    
}


.wrapper {
    display: grid;
    margin: 2.5em;
    grid-template-columns: repeat(1, 1fr);
    background-color: #000000;
    padding: 10px;

}



.List {
    border: 4px dashed #000000;
    background-color: #A0AECD;
    font-size: large;
    width: 24.5em;
    padding: 10px;
    color: #000000;

}

.images{
    display: flex;
    border: solid 5px #000000;
    height: 150px;
    max-width: 100%
    margin: 2em;
    
}